{% extends 'base.html.twig' %}


{% block body %}
	<div class="content-area home-area-1 recent-property" style="background-color: #FCFCFC; padding-bottom: 55px;">
		<div class="container">
			<div class="row">
				<div
					class="col-md-10 col-md-offset-1 col-sm-12 text-center page-title">
					<!-- /.feature title -->
					<h2>Biens disponibles sur le site :

					</h2>

				</div>
			</div>

			<div class="row">
				<div class="proerty-th">
					{% for image in biens[r1].images %}
						<img src="{{ asset('assets/uploads/') ~ image.name}}" class="img-fluid" alt="biens.name">
					{% endfor %}

				</div>
				<div class="item-entry overflow">
					<h5>
						<a href="property-1.html">{{biens[r1].titre}}</a>
					</h5>
					<div class="dot-hr"></div>

					<span class="pull-left">
						<b>Surface :</b>
						{{biens[r1].surface}}</span>
					<span class="proerty-price pull-right">
						<b>Prix :</b>
						{{biens[r1].prix}}</span>
				</div>
			</div>
		</div>

		<div class="col-sm-6 col-md-4 p0">
			<div class="box-two proerty-item">
				<div class="item-thumb">
					{% for image in biens[r2].images %}
						<img src="{{ asset('assets/uploads/') ~ image.name}}" class="img-fluid" alt="biens.name">
					{% endfor %}
				</div>
				<div class="item-entry overflow">
					<h5>
						<a href="property-1.html">{{biens[r2].titre}}</a>
					</h5>
					<div class="dot-hr"></div>

					<span class="pull-left">
						<b>Surface :</b>
						{{biens[r2].surface}}</span>
					<span class="proerty-price pull-right">
						<b>Prix :</b>
						{{biens[r2].prix}}</span>
				</div>
			</div>
		</div>

		<div class="col-sm-6 col-md-4 p0">
			<div class="box-two proerty-item">
				<div class="item-thumb">
					{% for image in biens[r3].images %}
						<img src="{{ asset('assets/uploads/') ~ image.name}}" class="img-fluid" alt="biens.name">
					{% endfor %}

				</div>
				<div class="item-entry overflow">
					<h5>
						<a href="property-1.html">{{biens[r3].titre}}</a>
					</h5>
					<div class="dot-hr"></div>

					<span class="pull-left">
						<b>Surface :</b>
						{{biens[r3].surface}}</span>
					<span class="proerty-price pull-right">
						<b>Prix :</b>
						{{biens[r3].prix}}</span>
				</div>
			</div>
		</div>
		<div class="box-tree more-proerty text-center col-sm-6 col-md-12 p0 ">
			<div class="item-tree-icon">
				<i class="fa fa-th"></i>
			</div>
			<div class="more-entry overflow">
				<h5>
					<a href="property-1.html">A propos
					</a>
				</h5>
				<h5 class="tree-sub-ttl"></h5>
				<button class="btn border-btn more-black" value="All properties">All properties</button>
			</div>
		</div>


	</div>
</div></div></div>{% endblock %}
