{{form_start(biensForm)}}
    {{form_row(biensForm.titre)}}
    {{form_row(biensForm.type)}}
    {{form_row(biensForm.surface)}}
    {{form_row(biensForm.prix)}}
    {{form_row(biensForm.VentesOuLocations)}}
    {{form_row(biensForm.ville)}}
    {{form_row(biensForm.codepostal)}}
    {{form_row(biensForm.description)}}
  
   <center> <button type="submit" class="btn btn-success">{{ button_label|default('Ajouter') }}</button></center>
{{form_end(biensForm)}}
